/* ===============================
   GIỎ HÀNG
================================ */

table {
    border-radius: 16px;
    overflow: hidden;
}

th {
    background: #fff1f4;
    color: #ff5f7e;
    font-weight: 600;
}

td input[type="number"] {
    width: 70px;
    text-align: center;
}

button {
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}
