/* ===============================
   LOGIN / REGISTER
================================ */

.login-box {
    animation: zoomIn 0.6s ease;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.login-box button {
    margin-top: 10px;
}
